@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font: normal 1em Arial;
}

body{
    background-color: lightblue;
}
header{
    font-size: 2em;
    padding: 30px;
    text-align: center;
    color: white;
}