@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font: normal 1em Arial;
}

body{
    background-color: rgba(27, 153, 147, 0.637);
}
header{
    font-size: 2em;
    padding: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
}

section{
    margin: auto;
    background-color: white;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.63);
}

div{
    padding: 5px;
}

input{
    width: 27%;
    margin: 4px;
}

input#button{
    background-color: rgba(27, 153, 147, 0.637);
    padding: 1px;
    border-radius: 5px;
}

p{
    padding: 5px;
    text-align: center;
}

footer{
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.575);
}

a{
    text-decoration: none;
    color: white;
}